<div id='top_menu_container'>
  <div id='top_menu_content_container'>
    <div id='profile_content_container'>
      <div id='profile_content'>
        <div id='profile_image_block'>
          <div id='circle_square'>
            <div id='profile_img_circle'>
              <img id='profile_img'src='assets/home_icons/john_doe.png'>
            </div>
            <div id='menu_arrow_container'>
              <img id='menu_arrow' src='assets/home_icons/arrow.png'>
            </div>
          </div>
        </div>
        <div id='name_school_text_container'>
          <div id='profile_text_container'>
            <div id='profile_text_top'>
              <p>BEN WALLACE</p>
            </div>
            <div id='profile_text_bottom'>
              <p>School</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='top_menu_content_title'><p>Home</p></div>
    <div id='top_menu_button_container'>
      <div id='top_menu_button'>
        <img src='assets/home_icons/plus_button.png'>
      </div>
    </div>
  </div>
  <div id='search_content_container'></div>
</div>