<div id='content_container'>

  <div id='top'>
    <div id='top-content'>

      <div id='header_nav'>
        <div id='back_nav'>
          <div class='back_nav_left'>
            <div id='back_arrow_container'>
              <img class='back_arrow_img' src='assets/icons/back-arrow.png'>
            </div>
          </div>
          <div class='back_nav_middle'>
            <p>Lesson Builder</p>
          </div>
          <div class='back_nav_right'>
            <div class='cancel_btn_container'><p>Cancel</p></div>
            <div class='save_btn_container'><p>Save</p></div>
          </div>
        </div>
        <div class='lesson_info_header'>
          <div class='lesson_info_left'>
            <p>Lesson Title</p>
          </div>
          <div class='lesson_info_right'>
            <div class='subject_container'><p>Math</p></div>
            <div class='grade_lv_container'><p>Grade 1</p></div>
          </div>
        </div>
        <div class='standards_header'></div>
      </div>

    </div>
  </div>


  <div id='middle'>

    <div id='content'>
      <div id='min_max_btn_container'>
        <div id='min_max_btn'>
          <img src='assets/icons/{{contentMode}}.svg'>
        </div>
      </div>
    </div>

  </div>


  <div id='bottom'>
    <div id='bottom-content'>


      <div id='footer_tabs_container'>
        <div class='tab_select_container'>
          <div class='tab_container'>
            <div class='tab' (click)='tabSelection("catalog")' [ngClass]="{'selected_blue': option == 'catalog'}"><p>Catalog</p></div>
          </div>
          <div class='tab_container'>
            <div class='tab' (click)='tabSelection("homework")' [ngClass]="{'selected_blue': option == 'homework'}"><p>Homework</p></div>
          </div>
          <div class='tab_container'>
            <div class='tab' (click)='tabSelection("clicker")' [ngClass]="{'selected_blue': option == 'clicker'}"><p>Clicker</p></div>
          </div>
          <div class='tab_container'>
            <div class='tab' (click)='tabSelection("media")' [ngClass]="{'selected_blue': option == 'media'}"><p>Media</p></div>
          </div>
        </div>
        <div class='selector_window_container'>
          <div class='add_btn_container'>
            <div class='add_btn'>
              <div class='add_icon_container'>
                <img src='assets/icons/add.svg'> 
              </div>
            </div>
          </div>
          <div class='selector_scroll'>
            <div class='resource_container' *ngFor='let resource of selected_resources; let i = index;'>
              <div class='resource'>
                <div class='remove_btn' (click)="removeResource(i)">
                  <img src='assets/icons/remove.svg'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
